select {
  height: 50px;
  font-size: 15px;
  color: rgb(15, 23, 42);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  padding: 0 8px;
    appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 8px 32px 8px 8px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='black' stroke-width='2'%3E%3Cpath d='M2 4l4 4 4-4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
}