@use '../../styles/index' as *;

.jobs-container {
  @include flex-center;
  @include padding-inline;
  @include padding-inrow;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  flex: 1;

  p {
    margin-bottom: auto;
  }

  h1 {
    text-align: center;
    margin-bottom: auto;
  }

  &__cards {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.sort-container {
  display: flex;
  justify-content: right;
  width: 100%;
  max-width: 1000px;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;

  p {
    display: flex;
    margin-top: auto;
    justify-content: center;
    margin-right: 10px;
  }

  #sort {
    width: 100px;;
  }
}

.jobs-container-demo {
  @include flex-center;
  @include padding-inline;
  @include padding-inrow;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

