CLIENT_ORIGIN=
CLIENT_URL=

ACTIVATION_BASE_URL=

SMTP_PASS=
SMTP_HOST=
SMTP_USER=
SMTP_PORT=

JWT_KEY=
JWT_REFRESH_KEY=

NODE_ENV=

ADZUNA_API_ID=
ADZUNA_API_KEY=
ADZUNA_BASE_URL=

REDIS_HOST=
REDIS_PORT=