  :root{
    --color-bg: #F8FAFC;
    --card-bg: #FFFFFF;
    --color-text: #0F172A;
    --color-text-muted: #64748B;
    --color-border: #E2E8F0;
    --color-primary: #2563EB;
    --color-secondary: #0F172A;
    --color-danger: #dc2626;
    --color-success: #22C55E;
    --color-hired: #9c1ab6;
  }